{% extends 'base.html' %}

{% block photo %}
<style>
    .button-container {
        margin-bottom: 40px; /* Интервал между кнопками и изображением */
    }

    .btn {
        margin-right: 10px; /* Интервал между кнопками */
    }
</style>
<title>Dynamic Image Loading</title>

<body>

<div class="container mt-5 text-center">
<div class="button-container">
    <button class="btn btn-primary" onclick="showImage('image1')">
        {% if current_language == 'en' %}
            Floor 1
        {% elif current_language == 'ru' %} 
            Этаж 1
        {% endif %}
    </button>
    <button class="btn btn-primary" onclick="showImage('image2')">
        {% if current_language == 'en' %}
            Floor 2
        {% elif current_language == 'ru' %} 
            Этаж 2
        {% endif %}
    </button>
    <button class="btn btn-primary" onclick="showImage('image3')">
        {% if current_language == 'en' %}
            Floor 3
        {% elif current_language == 'ru' %} 
            Этаж 3
        {% endif %}
    </button>
</div>

<div id="image-container" class="mt-3 mx-auto">
    <img id="dynamic-image" src="static/images/start_image.png" alt="Start Image" class="img-fluid">
</div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script>
function showImage(imageName) {
    var imageUrl = "static/images/" + imageName + ".png"; // Путь к изображениям

    var dynamicImage = document.getElementById('dynamic-image');
    dynamicImage.src = imageUrl;
}
</script>

</body>
{% endblock %}